.mapFrame{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px;
  
}
.mapFrame iframe{
transition: 0.7s;
border-radius:5px;
opacity:0.9;

}
.mapFrame iframe:hover{
      box-shadow:1px 1px 10px 2px #000000;

}
@media(max-width:544px){
.mapFrame iframe{
    width: auto;
}
}