.botao img {
 

  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 999;
 width: 80px;
  height: 80px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background:transparent;
  border: none;
    animation: pulse 2s infinite;
    opacity:0.7;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
