.containerFotos {
  display: flex;
  width: 90vw;
  height: auto;
  margin: 10px 22px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 30px;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  border-radius: 5px;
}
.containerFotos img {
  justify-items: center;
  max-width: 300px;
  border-radius: 3px;
 opacity:97%;

  flex: 1;
  width: 100%;
  object-fit: cover;
  height: auto;
  transition: 0.8s;
}
.containerFotos img:hover{
  box-shadow: 1px 1px 10px 2px #000000;
}