.containerFotos{

    display: flex;
    width:90vw;
    height: auto;
   margin:10px 22px;
    align-items: center;
    justify-content: center;
    padding:20px;
    gap:20px;
    flex-wrap: wrap;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(2px);
    border-radius: 5px;
   
    
}
.containerFotos img{
   justify-items: center;
max-width: 300px;
   border-radius: 2px;
   
  flex: 1;           
  width: 100%;       
  object-fit: cover; 
  height: auto;      


}