.containerSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:40px;
    gap:20px;
     background:rgba(55, 54, 54, 0.8);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.08);
   -webkit-backdrop-filter: blur(14px);
   
}
.containerSection div{
    background: transparent;
 
    color: #ffffff;
    text-align: center;
}
.containerSection  h1{
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
}